
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: 'Lexend', sans-serif !important;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}